#canvas{
	padding: 20px;
	width:800px;
	border-style:solid;
	border-width:5px;
	border-radius: 10px;
	margin-top: 60px;
	
}

#detected{
	color : green;
	display : none;
}

#detected-wrapper{
	height : 20px;
}

#header{
	font-size: 45pt;
}

#logo{
	right:0;
	top:0;
	position: absolute;
}